# Group Project Proposal:

Members: Annabel Lim, Owen Kong, Yash Mali, Yui Mikuriya

## Introduction

## Preliminary Results

In [2]:
# load libraries
library(cowplot)
library(datateachr)
library(digest)
library(infer)
library(repr)
library(taxyvr)
library(tidyverse)
library(dplyr)
library(datateachr)

# set seed
set.seed(2023);

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.3     ✔ readr     2.1.4
✔ forcats   1.0.0     ✔ stringr   1.5.0
✔ ggplot2   3.4.3     ✔ tibble    3.2.1
✔ lubridate 1.9.2     ✔ tidyr     1.3.0
✔ purrr     1.0.1
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter()    masks stats::filter()
✖ dplyr::lag()       masks stats::lag()
✖ lubridate::stamp() masks cowplot::stamp()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

In [4]:
# data url (zip file)
url <- "https://archive.ics.uci.edu/static/public/697/predict+students+dropout+and+academic+success.zip"


# unzip and load data
temp <- tempfile()
download.file(url,temp)
dropout_data <- read.csv2(unz(temp, "data.csv")) |> 
    mutate(Target = as_factor(Target))

unlink(temp)

head(dropout_data)

  Marital.status Application.mode Application.order Course
1 1              17               5                  171
2 1              15               1                 9254
3 1               1               5                 9070
4 1              17               2                 9773
5 2              39               1                 8014
6 2              39               1                 9991
  Daytime.evening.attendance. Previous.qualification
1 1                            1
2 1                            1
3 1                            1
4 1                            1
5 0                            1
6 0                           19
  Previous.qualification..grade. Nacionality Mother.s.qualification
1 122.0                          1           19
2 160.0                          1            1
3 122.0                          1           37
4 122.0                          1           38
5 100.0                          1           37
6 133.1                          1           37
  Father.s.qualification ⋯ Curricular.units.2nd.sem..credited.
1 12                     ⋯ 0
2  3                     ⋯ 0
3 37                     ⋯ 0
4 37                     ⋯ 0
5 38                     ⋯ 0
6 37                     ⋯ 0
  Curricular.units.2nd.sem..enrolled. Curricular.units.2nd.sem..evaluations.
1 0                                    0
2 6                                    6
3 6                                    0
4 6                                   10
5 6                                    6
6 5                                   17
  Curricular.units.2nd.sem..approved. Curricular.units.2nd.sem..grade.
1 0                                   0.0
2 6                                   13.666666666666666
3 0                                   0.0
4 5                                   12.4
5 6                                   13.0
6 5                                   11.5
  Curricular.units.2nd.sem..without.evaluations. Unemployment.rate
1 0                                              10.8
2 0                                              13.9
3 0                                              10.8
4 0                                              9.4
5 0                                              13.9
6 5                                              16.2
  Inflation.rate GDP   Target
1 1.4            1.74  Dropout
2 -0.3           0.79  Graduate
3 1.4            1.74  Dropout
4 -0.8           -3.12 Graduate
5 -0.3           0.79  Graduate
6 0.3            -0.92 Graduate

## Methods: Plan

## References